.container {
    width: 300px;
    padding: 25px;
    margin: 20px auto;
    background: rgb(198, 215, 239);
    text-align: center;
    border-radius: 20px;
    font-family: Arial, sans-serif;
}

.container h2 {
    margin: 10px 0;
    font-weight: bold;
    color: #003b7a;
}

.container h1 {
    margin: 10px 0;
    font-size: 40px;
    color: #003b7a;
}

.small-text {
    margin-top: 25px;
    font-size: 14px;
    color: #555;
}

